:root {
    --primary-text-color: #212121;
    --title-text-color: #FFFFFF;
    --accent-text-color: #757575;
    --primary-bg-color: #2196F3;
}

header {
    background-color: #FFFFFF;
}
body {
    margin: 0;
    background-color: #FFFFFF;
    font-family: 'Roboto' sans-serif;
}
footer {
    background-color: #2F303A;
}

/*утилиты*/

.list {
    padding: 0;
    margin: 0;
    list-style: none;
}
.link {
    text-decoration: none;
}

.container {

}


/*header*/

.header-box {
    display: flex;
}

/*logo*/

.logo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    color: var(--primary-text-color)
}
.web {
    color: var(--primary-bg-color)
}

/*main-nav*/

/*header-sitenav*/

.header-nav {
    display: flex;
    align-items: center;
}

.header-sitenav {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.15;
    color: var(--primary-text-color)
}
.header-sitenav:hover,
.header-sitenav:focus {
    color: var(--primary-bg-color)
}
.sitenav {
    display: flex;
    margin-left: 93px;
}
.sitenav .list {
    margin-right: 50px;
}
.sitenav .list:last-child {
    margin-right: 0;
}
.sitenav .link.current {
    color: var(--primary-bg-color);
}

/*header-mail*/

.mail {
    display: flex;
    margin-left: auto;
}
.mail .list + .list {
    margin-left: 50px;
}

.header-mail {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.15;
    color: var(--accent-text-color)
}
.header-mail:hover,
.header-mail:focus {
    color: var(--primary-bg-color)
}
.header-tel {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.15;
    color: var(--accent-text-color)
}
.header-tel:hover,
.header-tel:focus {
    color: var(--primary-bg-color)
}

/*hero*/

.hero {
    background-color: #2F303A;
}
.hero-title {
    margin-top: 0;
    margin-bottom: 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.06em;
    color: var(--title-text-color)
}
.hero-button {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: #FFFFFF;
    cursor: pointer;
}
.hero-button:hover,
.hero-button:focus {
    background-color: #188CE8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

/*преимущества*/


.benefits-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.15;
    color: var(--primary-text-color)
}
.benefits-text {
    font-family: 'Roboto';
    font-style: normal;
    font-size: 14px;
    line-height: 1.7;
    color: var(--accent-text-color)
}

/*работа*/

.work-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    color: var(--primary-text-color)
}
/*для фото*/

/*команда*/


.team {
    background-color: #F5F4FA;
}
.team-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    color: var(--primary-text-color)
}
.team-name {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    color: var(--primary-text-color)
}
.job-title {
    font-family: 'Roboto';
    font-style: normal;
    font-size: 16px;
    line-height: 1.2;
    color: var(--accent-text-color)
}

/*подвал*/

.footer-logo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    color: var(--title-text-color)
}
.footer-web {
    color: var(--primary-bg-color)
}
.footer-address {
    font-family: 'Roboto';
    font-style: normal;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--title-text-color)
}
.footer-address:hover,
.footer-address:focus {
    color: var(--primary-bg-color);
}

.footer-mail {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.15;
    color: var(--accent-text-color)
}
.footer-mail:hover,
.footer-mail:focus {
    color: var(--primary-bg-color)
}

.footer-tel {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.15;
    color: var(--accent-text-color)
}
.footer-tel:hover,
.footer-tel:focus {
    color: var(--primary-bg-color)
}

/*portfolio-hero*/

.portfolio-button {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    cursor: pointer;
}
.portfolio-button:hover,
.portfolio-button:focus {
    background: #2196F3;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}
.portfolio-name {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--primary-text-color)
}
.portfolio-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: var(--accent-text-color);
}